<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpfW8LWU4_iIWQAoh79tyS2pZmZp6nht4</string>
	<key>GCM_SENDER_ID</key>
	<string>268859924374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinFlipper</string>
	<key>PROJECT_ID</key>
	<string>coinflipper-13eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>coinflipper-13eaa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268859924374:ios:89f1e85d499c4fb981c7b7</string>
</dict>
</plist>